<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="default">
      <class>Item</class>
      <class>ClientRepository</class>
      <class>ItemRepository</class>
      <class>RentRepository</class>
      <class>ClientManager</class>
      <class>ItemManager</class>
      <class>RentManager</class>
      <class>Address</class>
      <class>Film</class>
      <class>Game</class>
      <class>Music</class>
      <class>Rent</class>
      <class>Client</class>
      <class>ClientType</class>
      <class>Normal</class>
      <class>Premium</class>
      <exclude-unlisted-classes>true</exclude-unlisted-classes>
      <shared-cache-mode>NONE</shared-cache-mode>
      <validation-mode>CALLBACK</validation-mode>
      <properties>
        <property name="jakarta.persistence.jdbc.url" value="jdbc:derby:memory:target/RentDB;create=true"/>
        <property name="jakarta.persistence.jdbc.driver" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="jakarta.persistence.jdbc.user" value="rent"/>
        <property name="jakarta.persistence.jdbc.password" value="rent"/>
        <property name="jakarta.persistence.schema-generation.database.action" value="drop-and-create"/>
      </properties>
  </persistence-unit>
</persistence>
